@model Project.ProjectModel
<head>
    <link rel="stylesheet" href="~/css/projects.css" asp-append-version="true" />
</head>

<style>
    @Html.Raw(Model.ImageStyleClassesHTML)
</style>

<div class="d-flex flex-column project-section">
    <div class="project-image-container">
        @if (Model.ImageCentered)
        {
            <div id="@Model.ImageId" class="project-image-centered @Model.DefaultImageClass"></div>
        }
        else
        {
            <div id="@Model.ImageId" class="project-image @Model.DefaultImageClass"></div>
        }
        <div class="prev-image-button" onclick="changeImage('left', '@Model.ImageId', @Model.ImageClassesHTML)">
            <h1><i class="bi  bi-arrow-left-circle-fill"></i></h1>
        </div>
        <div class="next-image-button" onclick="changeImage('right', '@Model.ImageId', @Model.ImageClassesHTML)">
            <h1><i class="bi  bi-arrow-right-circle-fill"></i></h1>
        </div>
    </div>
    <div class="project-info d-flex flex-column">
        <p class="project-title">@Model.Title</p>
        <p class="project-desc">@Model.Description</p>
        <div style="height: 100%; width: 100%;"></div>
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                @if (Model.TechStackIconsHTML != null) {
                    @Html.Raw(Model.TechStackIconsHTML)
                }
            </div>
            <div class="d-flex">
                @if (Model.Link is not null)
                {
                    <a class="project-link" href="@Model.Link" target="_blank" style="margin-top: -0.2rem;">
                        <h1 class="project-icon"><i class="bi-arrow-90deg-up"></i></h1>
                    </a>
                }
                @if (Model.GithubLink is not null)
                {
                    <a class="project-link ms-3" href="@Model.GithubLink" target="_blank" style="margin-top: -0.2rem;">
                        <h1 class="project-icon"><i class="bi  bi-github"></i></h1>
                    </a>
                }
            </div>
        </div>
    </div>
</div>